@charset "UTF-8" ;

*{
    margin: 0;
    padding: 0;

}

body{
    position: relative;
    width: 98vw;
    height: 100vh;
    background-image: url(logo-pintos.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(243, 243, 120);
}



