@charset "UTF-8" ;

*{
    margin: 0;
    padding: 0;

}

body{
    position: relative;
    width: 98vw;
    height: 100vh;
    background-color: rgb(243, 243, 155);
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}



